<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <% page_data = current_page.data %>
    <% keywords = page_data.keywords ? page_data.keywords : data.seo.keywords %>
    <% description = page_data.description ? page_data.description : data.seo.description %>
    <% author = page_data.author ? page_data.author : data.seo.author %>
    <title><%= page_data.title %></title>
    <meta content="width=device-width" name="viewport">
    <meta name="keywords" content="<%= keywords.join(',') %>">
    <meta name="description" content="<%= description %>">
    <meta name="author" content="<%= author %>">

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-48493505-2"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-48493505-2');
    </script>

    <script src="//use.typekit.net/lia5wcl.js"></script>
    <script>try{Typekit.load();}catch(e){}</script>
    <%= stylesheet_link_tag 'main' %>
    <link rel="icon" type="image/ico" href="/assets/images/favicon.ico" />
  </head>
  <body>
    <%= yield %>
    <%= javascript_include_tag 'main' %>
  </body>
</html>
