<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <% title = "💎 Triangle Ruby Meetup 💎" %>
    <title><%= title %></title>
    <meta content="width=device-width" name="viewport">
    <meta name="keywords" content="Triangle Ruby Meetup Raleigh North Carolina NC Durham Chappel Hill Technology">
    <meta name="description" content="The NC Triangle's premier meetup for Ruby enthusiasts">

    <meta property="og:title" content="<%= title %>" />
    <meta property="og:url" content="https://triangleruby.com" />
    <meta property="og:image" content="http://ia.media-imdb.com/images/rock.jpg" />

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-48493505-2"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-48493505-2');
    </script>

    <script src="//use.typekit.net/lia5wcl.js"></script>
    <script>try{Typekit.load();}catch(e){}</script>
    <%= stylesheet_link_tag 'main' %>
    <link rel="icon" type="image/ico" href="/assets/images/favicon.ico" />
  </head>
  <body>
    <%= yield %>
    <%= javascript_include_tag 'main' %>
  </body>
</html>
