<header>
  <% link_to "/", class: "logo" do %>
    <%= image_tag 'logo.png' %>
    <h1>Triangle<span class="extension">RB</span></h1>
  <% end %>

  <ul class="header-links">
    <li>
      <%= link_to 'Meetup', 'http://www.meetup.com/raleighrb/' %>
    </li>
    <li>
      <%= link_to 'Discourse', 'http://discourse.triangleruby.com/' %>
    </li>
    <li>
      <%= link_to 'Submit Talk', '/submit.html' %>
    </li>
    <li>
      <%= link_to 'Request Slack Invite', 'https://triangle-devs-slack-inviter.herokuapp.com/' %>
    </li>
  </ul>
</header>
