<section class="sponsors">
  <div class="narrow-container">
    <h4>You're in Good Company</h4>
    <p>These kind folks buy us pizza and beer. You should say hi.</p>
  </div>
  <ul>
    <li class="sponsor">
      <a href="#"><%= image_tag 'ai.jpg' %></a>
    </li>
    <li class="sponsor">
      <a href="#"><%= image_tag 'thoughtbot.png' %></a>
    </li>
    <li class="sponsor">
      <a href="#"><%= image_tag 'webassign.jpg' %></a>
    </li>
    <li class="sponsor">
      <a href="#"><%= image_tag 'sb.png' %></a>
    </li>
    <li class="sponsor">
      <a href="#"><%= image_tag 'mckesson.png' %></a>
    </li>
    <li class="sponsor">
      <a href="#"><%= image_tag 'spreedly.jpg' %></a>
    </li>
    <li class="sponsor">
      <a href="#"><%= image_tag 'cognitect.png' %></a>
    </li>
    <li class="sponsor">
      <a href="#"><%= image_tag 'pragmatic.png' %></a>
    </li>
  </ul>
</section>
